#waku1, #waku3 {
	margin: 0ex 3ex 1ex;
	border: solid black 1px;
}

.waku2{
	margin: 0ex 3ex 1ex;
	border: solid black 1px;
}

.waku2{
	height: 40ex;
	overflow: scroll;
}

.canvas {
	padding: 1ex;
	/*height: 1.75ex;*/
	line-height: 1.0ex;
	/*position: relative;*/
}
/*ここから3.0*/
.caption{
	border: solid black 1px;

	display: flex;
	display: -moz-flex;
	display: -o-flex;
	display: -webkit-flex;
	display: -ms-flex;
	flex-direction: row;
	-moz-flex-direction: row;
	-o-flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;

	/* 縦中央 */
	align-items: center;

	height: 2em;
}

.waku{
	margin: 0ex 3ex 1ex;
	border: solid black 1px;
}

.fixedAnswerArea{
	/*height: 40ex;*/
	height: 40ex;
}

.answerArea{
	height: 100%;
	overflow: scroll;
	background-color: #F6EEEE;
	/*border: solid black 1px;*/
}

.tanzaku{
	/*border: solid black 1px;*/
	height: 100%;
}

.answer{
	border: solid 1px;
	border-color: #AFEEEE;
	background-color: #ADD8E6;
	height: 2em;
}

html,body {
	height:100%;
}
/*area{
	height: 100%;
}*/
.unique{
	font-weight: bold;
}
.box{
	height: 2.0em;
	border: solid 0.1px;
	background-color: #FFFFCC;
	border-color: #CCCC99;
	/*border-color: #DAC4D4;紫芋っぽいやつ
	background-color: #E4D4E4;*/
}

.titleWaku{
	background-color: #E4F3E4;
}
.captionForTitle{
	background-color: #D4F3D4;
}

.captionForAnswer{
	background-color: #F6E3E3;
}

.tanzakuWaku{
	background-color: #F3F3F3;
}
.captionForTanzaku{
	background-color: #D4D4D4;
}
