#waku1, #waku3 {
	margin: 0ex 3ex 1ex;
	border: solid black 1px;
}

.waku2{
	margin: 0ex 3ex 1ex;
	border: solid black 1px;
}

.waku2{
	height: 30ex;
	overflow: scroll;
}

.canvas {
	padding: 1ex;
	height: 1.0ex;
	line-height: 1.0ex;
	/*position: relative;*/
}

.bound {
	padding: 1ex;
	height: 0.25ex;
	background-color: #c8c8c8;
}
